button{
    border-radius: 2rem;
    padding: .8rem 1.5rem;
    border: none;
    background-image: linear-gradient(to left top,#ff7e5f,#feb47b);
    margin-top: 1rem;
    cursor: pointer;
} 
button a{
    color: whitesmoke;
    /* font-size: .8rem; */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 5;
}
button:hover{
    padding: .6rem 1.15rem;
    background-image: linear-gradient(white,white);
    border: 3px solid hsl(34, 100%, 60%);
    color:black;
    opacity: .8;
}
button:hover a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    
}