
.D-R-D-Counts{
    display: flex;
    height: 10rem;
    padding: 2rem;
    text-align: center;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    background: url('../files/data.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.2rem;
    font-weight: 700;
}

.D-R-D-Counts .FoodRescued{
    flex: 1;
}
.D-R-D-Counts .NoOfUser{
    flex: 1;
}
.D-R-D-Counts .MealServed{
    flex: 1;
}