.D-R-D{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    grid-gap:3rem;   
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    margin-top: 5rem;
    padding: 1rem 3rem 5rem 3rem;
}
.D-R-D .donate img, .D-R-D .rescue img, .D-R-D .distribute img{
    height: 10rem;
    width: 80%;
    text-align: center;
}
.donate{
    border: 1px solid black;
    padding: 2rem 2rem 4rem 2rem;
}

.rescue{
    border: 1px solid black;
    padding: 2rem 2rem 4rem 2rem;
}
.distribute{
    border: 1px solid black;
    padding: 2rem 2rem 4rem 2rem;
}
.D-R-D .donate h1,.D-R-D .rescue h1,.D-R-D .distribute h1{
    color: wheat;
}
.D-R-D .donate a,.D-R-D .rescue a,.D-R-D .distribute a{
    text-decoration: none;
    color: wheat;
}
.D-R-D .donate button,.D-R-D .rescue button,.D-R-D .distribute button{
    border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-color: black;
    padding: 1.5vw;
    opacity: 0.8;
    
    font-size: .7rem;
    z-index: 5;
    margin-top: 2rem; 
}
.D-R-D .donate button:hover,.D-R-D .rescue button:hover,.D-R-D .distribute button:hover{
    opacity: 0.5;
    transform: scale(1.1);
    transition:1s ease;
    cursor: pointer;
}