.designDiv{
    margin: 0;
    display: flex;
    margin-top: -1rem;
  
}
.designDiv .sd1{
    flex: 1;
    position: relative;
    background-color: white;
    transform: skewY(10deg);
    height: 3rem;
    z-index: 3;
}

.designDiv .sd2{
    flex: 4;
    height: 3rem;
    position: relative;
    background-color: white;
    transform: skewY(-2.5deg); 
    z-index: 3;  
}

.designDiv2{
    margin: 0;
    display: flex;
    margin-top: 2rem;
   
}
.designDiv2 .sd1{
    flex: 1;
    position: relative;
    background-color: white;
    transform: skewY(10deg);
    height: 4.5rem;
}

.designDiv2 .sd2{
    flex: 4;
    height: 4.5rem;
    position: relative;
    background-color: white;
    transform: skewY(-2.5deg);   
}

