@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

.container .fourth{
    background-color: rgb(247, 247, 247);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    z-index: 4;
    margin: auto 2%;
}
@media screen and ( max-width:765px){
    .container .fourth{
        margin-top: 8rem;
    }
    .container .fourth .ourStory p.storyHead{
        padding-top: 2rem;
    }
}

.container .fourth .ourStory{
    padding-left: 6vw;
    padding-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
}
.container .fourth .ourStory p.storyHead{
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.container .fourth .ourStory p.story{
    font-weight: 5;
    margin-top: -3rem;
}

.container .fourth .choice{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    grid-gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    align-content: center;
    margin: 2rem;
}

.container .fourth .choice .choicetitle{
    font-size: 18px;
    font-weight: 700;
}

.container .fourth .choice .choicetext{
    font-size: 14px;
    font-weight: 5;
}

.container .fourth .choice .donor,
.container .fourth .choice .volunteer,
.container .fourth .choice .distributor{
    padding: 1vw 1vw;
}

.container .fourth .choice .donor:hover #iconpart,
.container .fourth .choice .volunteer:hover #iconpart,
.container .fourth .choice .distributor:hover #iconpart{
    color: hsl(34, 100%, 60%);
}
/* .container .fourth .choice .donor:hover{
    background-color:hsl(34, 100%, 60%);
} */