@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

.container .fourth{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    z-index: 4;
    margin: 2% 2%;
}
@media screen and ( max-width:765px){
    .container .fourth{
        margin-top: 8rem;
    }
    .container .fourth .ourStory p.storyHead{
        padding-top: 2rem;
    }
}

.container .fourth .ourStory{
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    margin-left: 6vw;
    transition: ease-in-out 2s;
}
.container .fourth .ourStory p.storyHead{
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.container .fourth .ourStory p.story{
    font-weight: 5;
    margin-top: -2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.container .fourth .choice{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    grid-gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    align-content: center;
    margin: 1rem;
    width: 100%;
}

.container .fourth .choice .choicetitle{
    font-size: 1.5rem;
    font-weight: 700;
}

.container .fourth .choice .choicetext{
    font-size: 1rem;
    font-weight: 500;
}

.container .fourth .choice .donor,
.container .fourth .choice .volunteer,
.container .fourth .choice .distributor{
    padding: 1vw 1vw;
    border-radius: 5px;
    background: linear-gradient(to bottom right,rgba(255, 255, 255, 0.223),rgba(243, 116, 53, 0.223));
}

.container .fourth .choice .donor:hover #iconpart,
.container .fourth .choice .volunteer:hover #iconpart,
.container .fourth .choice .distributor:hover #iconpart{
    color: hsl(34, 100%, 60%);
}

/* hidden part */
.container .fourth .ourStory .showpart p.hideWhoweare{
    font-size: 1.2rem;
    font-weight: 500;
} 
.container .fourth .ourStory .showpart ul.hideWhoweare{
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 4rem;
}

.container .fourth .ourStory .showpart{
    opacity: 0;
}
.container .fourth .ourStory .show{
    animation: mymove 2s;
    opacity: 1;
}
@keyframes mymove {
    0%{
        opacity: 0.5;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }
.container .fourth .ourStory .hide{
    opacity: 0;
}