.getintouch{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap: 1vw;
    margin-top: 4rem; 
    z-index: 5;  
}
.getintouch .contact {
    margin-left: 7rem;
}
.getintouch .contact .titlePart p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}
.getintouch .contact .titlePart span{
    font-size: 4rem;
    font-family: 'Cormorant Garamond', serif;
}
.getintouch .contact .infoPart {
    margin-top: 2vw;
}
.getintouch .contact .infoPart ul{
    list-style: none ;    
}
.getintouch .contact .infoPart li{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 1.5rem;
}
.getintouch .contact .infoPart li a{
 text-decoration: none;
 color: black;
 cursor: pointer;
}


/* message part */

.getintouch .message .titlePart1 p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
}
.getintouch .message .titlePart1 span{
    font-size: 4rem;
    font-family: 'Cormorant Garamond', serif;
}
.getintouch .message .infoPart1 {
    margin-top: 1.5rem;
    display: flex;
    
}
.getintouch .message .infoPart1 .leftPart{
    flex: 1;
} 
.getintouch .message .infoPart1 .rightPart{
    flex: 3;
}
.getintouch .message .infoPart1 ul{
    list-style: none;
}
.getintouch .message .infoPart1 .leftPart li, .getintouch .message .infoPart1 .rightPart li{
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
}
.getintouch .message .infoPart1 .rightPart li textarea{
    line-height: 1.5rem;
    margin-top: 1rem;
}
.getintouch .message .infoPart1 .rightPart li input[type='text'],
.getintouch .message .infoPart1 .rightPart li textarea{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    width: 12rem;
    border-radius: .5vw;
    opacity: .6;
    /* border: black; */
}
.getintouch .message .infoPart1 .rightPart li input[type='submit']{
    border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-color: black;
    padding: 1rem 2rem;
    box-shadow: 1rem 1rem 1rem 0rem;
    font-size: 1rem;
    z-index: 5; 
    opacity: .7;
    color: white;
}
.getintouch .message .infoPart1 .rightPart li input[type='submit']:hover{
    transform: scale(1.1);
    transition:1s ease;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .getintouch .contact {
        margin-left: 3.5rem;
    }
    .getintouch .message{
        margin-top: 3rem;
        margin-left: 3.5rem;
    }
}