    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        list-style: none;
        text-decoration: none;
    }
    
    .middle {
        top: 100%;
        left: 100%;
        transform: translate(-90%, -0.9%);
        display: none;
        position: absolute;
        font-size: 20px;
    }
    
    .menu {
        width: 180px;
        border-radius: 8px;
        overflow: hidden;
    }
    
    .item {
        border-top: 0px solid #000000;
        overflow: hidden;
        /* margin-top: -8px; */
    }
    
    .btn {
        display: block;
        padding: 16px 20px;
        background: #777;
        opacity: 1;
        color: white;
        position: relative;
    }
    
    .btn:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: #a8a7a7;
        left: 20px;
        bottom: -7px;
        transform: rotate(45deg);
    }
    
    .btn i {
        margin-right: 10px;
    }
    
    .smenu {
        background: #555;
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
    }
    
    .smenu a {
        display: block;
        padding: 16px 26px;
        color: white;
        font-size: 14px;
        margin: 4px 0;
        position: relative;
    }
    
    .smenu a:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        background: #a8a7a7;
        left: 0;
        top: 0;
        transition: 0.3s;
        opacity: 0;
    }
    
    .smenu a:hover:before {
        opacity: 1;
    }
    
    .item:target .smenu {
        max-height: 8em;
    }
    
    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        font-size: 1.1rem;
        justify-content: space-around;
        background: #457fca;  /* fallback for old browsers */
       


        
        /* background: #2c3e50; */
        /* fallback for old browsers */
        /* background: -webkit-linear-gradient(to left, #3498db, #41586f); */
        /* Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(to left, #3498db, #41586f); */
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding-top: 8px;
        /* padding-bottom: -5px; */
        /* margin-bottom: -1%; */
    }
    
    .navbar1 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        font-size: 1.1rem;
    }
    
    .navbar1 p {
        font-size: 1.1rem;
        margin-top: -2%;
    }
    
    .navbar a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        border-radius: 8%;
        font-size: 1.01rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 6px;
    }

    .navbar .nav1 a,
    .navbar .nav2 a,
    .navbar .nav4 a{
        background-color: rgba(107, 81, 57, 0.271);
    }
    
    .navbar .navbar1 a:hover {
        background-color: rgb(42, 127, 45);
        border-radius: 5%;
        color: white;
    }
    
    .navbar>div {
        margin-left: -20px;
        margin-right: 1%;
        margin-top: 6px;
        text-align: center;
        font-size: 0.8rem;
        z-index: 999;
    }
    
    .navbar .nav3 {
        margin-left: 10px;
        margin-top: -7px;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }
    .navbar .nav1:hover,
    .navbar .nav2:hover,
    .navbar .nav4:hover{
        transform: translateY(-5px);
        transition-duration: 0.5s;
    }
    
    .navbar .nav0 {
        margin-top: -3px;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }
    
    .navbar .nav3:hover .middle {
        color: green;
        display: block;
        z-index: 2;
    }
    
    /* .navbar .nav0:hover {
        transform: translateY(-5px);
        transition-duration: 0.5s;
    } */
    
    @media only screen and (max-width: 380px) {
        .navbar {
            /* display: none; */
        }
    }
    
    .me #hide,
    .me #show {
        position: absolute;
        transform: scale(1.5);
        right: -60px;
        bottom: 95px;
        width: 20px;
        /* height: 35px; */
        padding-top: 2px;
        padding-left: 3px;
        color: #FFF;
        border-radius: 0%;
        border-style: initial;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .me #show {
        display: none;
    }
    
    #mySidebar {
        transition: 0.4s;
    }