@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
:root{font-size: 16px;}


.wrapper-mainNav{
    display: flex;
    width: 100%;
    font-size: 1rem;
    z-index: 4;
    margin-top: -3px;
    position: fixed;
    background-color: white;
    padding: .5rem;
    border-bottom: 1px solid wheat;
}
    .wrapper-mainNav .navbar0{
        flex: 2;
        margin-left: 5rem;
        font-family: 'Montserrat', sans-serif;
        z-index: 1;
        
    }
    .wrapper-mainNav .navbar0 i{
        color: orange;
    }
        .wrapper-mainNav .navbar0 i:hover{
            transform: scale(1.4);
            transition-duration: 0.5s;
            color: black;
        }
        
            /* droplist */
            .container .wrapper-mainNav .navbar0 ul{
                list-style-type: none;
                overflow: hidden;
            }      

    .wrapper-mainNav .navbar1{
        flex: 2;display: flex;
        align-items: left;
        padding-top: 1rem;
        
    }
        .wrapper-mainNav .navbar1> div{
            padding:1.2em;
            font-family: 'Montserrat', sans-serif;
            width: fit-content;color: black;
        }
        .wrapper-mainNav .navbar1 p{
            padding-top:.25em;font-size: 1.75em;
        }
        
        
    .wrapper-mainNav .navbar0 a,.wrapper-mainNav .navbar1 >div a{
    text-decoration: none;color: black;
    font-size: 0.8rem;
    white-space: nowrap;
    /* this css is useful as it wont let word to go in next line */

    }

@media only screen and (max-width: 768px) {
    .container .wrapper-mainNav {
        display: none;
    }
    
}


.firstpage{
   margin-top: 10rem;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;
}
.firstpage .firstPagetext{
    flex: 1;
    /* text-align: center; */
    margin-top: 5.5rem;
}
.firstpage .firstPagetext p.title-note{
    font-family: 'Cormorant Garamond', serif;
    color: wheat;
    line-height: 4rem;
    font-size: 4rem;
    letter-spacing: .2vw;
}
 /* color change gar yaha */
.firstpage .firstPagetext p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    letter-spacing: .1vw;
    color: wheat;
} 
.firstpage .firstPagetext a{
    
    font-size: 1rem;
    text-decoration: none;
    color: wheat;
    font-family: 'Cormorant Garamond', serif;
}
.firstpage .firstPagetext a:hover{
    opacity: 0.5;
    transition:1s ease;
    cursor: pointer;
}
/* .firstpage .firstPagetext .line-btn button.aboutbtn{
    border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-color: black;
    padding: 1.5vw;
    opacity: 0.7;
    box-shadow: 1vw 1vw 1vw 0vw;
    font-size: 1vw;
    z-index: 5;
    margin-left:11vw;    
}
.firstpage .firstPagetext .line-btn button.aboutbtn:hover{
    opacity: 0.5;
    transform: scale(1.1);
    transition:1s ease;
    cursor: pointer;
} */
.firstpage .firstPagetext .line-btn button.aboutbtn a{
    color: cornsilk;
    
}
.firstpage .firstPagetext .line-btn button.aboutbtn a:hover{
    opacity: 0.5;
    transform: scale(1.1); 
    color: wheat;
    transition:1s ease;
}
@media only screen and (width: 500px)
{
    .firstpage .firstPagetext .line-btn button.aboutbtn a:hover{
        transform: scale(1.5); 
    } 
    .firstpage .firstPagetext .line-btn button.aboutbtn:hover{
        transform: scale(1.5); 
    }
}


/* searching page */

.firstpage .searching{
    flex: 1;
}
.firstpage .searching p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    text-align: center;
    color: black;
}
  
  .searching form input[type='text']{
    padding: 0.7rem;
    border-radius: .5vw;
    width: 34vw;
    border: black;
    opacity: .6;
    float: left;
  }
  .searching form ::placeholder{
      font-size: .8rem;
      color: wheat;
  }
  .searching form button{
    position: absolute;
    padding: .7rem; 
    border-radius: .5vw;
    position: absolute;
    margin-left: 1vw;
    color: wheat;
    background-color: black;
    opacity: .6;
    border: black;
    
  }
  
