@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

.container .sixth{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(247, 247, 247);
    /* background-color: rgba(243, 116, 53, 0.223); */
    margin: 0% 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    column-gap: 3rem;
    padding: 4vw 5vw 0vw 5vw;
}

.container .sixth .aboutus{
    align-content: center;
    text-align: justify;
}
.container .sixth .aboutus2{
    text-align: justify;
}
.container .sixth .aboutus p.abouthead{
    font-size: 3.5rem;
    font-weight: 700;
}

.container .sixth .aboutus p.text,
.container .sixth .aboutus2 p.text{
    font-weight: 500;
    font-size: 1.1rem;
}

