
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');
.sliderTitle{
    width: 100%;    
    font-family: 'Cormorant Garamond', serif;
    line-height: 4rem;
    margin-top: 4rem;
    z-index: 5;
}
.sliderTitle p.one{
    font-size: 2rem;
    position: relative;
    display: none;
    padding-left: 3rem;
}
.sliderTitle hr{
    border-color: wheat;
    width:65%;
    margin-left: 4rem;
    display: none;
}

.sliderTitle p.two{
    font-size: 3.5rem;
    position: absolute;
    padding-left: 4rem;
    margin-top: 4rem;
}

.sliderTitle p.one span{
    font-size: 3.5rem;
    color: wheat;
}
.sliderTitle p.two span{
    font-size: 5rem;
    color: wheat;
}

@media only screen and (max-width: 800px){
    .sliderTitle p.one{
        display: block;
    }
    .sliderTitle hr{
        display: block;
    }
    .sliderTitle p.two{
        display: none;
    }
}