*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    font-size: 76.5%;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    font-size: 1.5rem;
    background-color: rgb(211, 219, 226);
}
.navbar a{
    text-decoration: none;
}
.navbar > div {
    width: 80px;
    margin: 5px;
    margin-top: 5px;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
  }