
.container .tojoin{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 60vw;
    margin-left: 20vw;
    transform: skew(1deg,1deg); 
    background:linear-gradient(to top left, #FDC830,#F37335);
    padding: 0rem .1rem;
}

.container .tojoin .box{
    background-color: white;
    transform: skew(-1deg,-1deg);
    padding: .5rem .5rem 3rem .5rem;
}

.container .tojoin .box p.no1{
    font-size: 3rem;
    font-weight: 800;
}
.container .tojoin .box p.no2{
    margin-top: -2rem;
    font-size: 1rem;
    font-weight: 500;
}
