<!DOCTYPE html>
<html lang="en">
  <head>
    <title>InNeed. &mdash; Website by Team D</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/botton.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar-mobile.css">
    <link rel="stylesheet" href="css/third.css">
    <link rel="stylesheet" href="css/fourth.css">
    <link rel="stylesheet" href="css/fifth.css">
    <link rel="stylesheet" href="css/sixth.css">
    <link rel="stylesheet" href="css/seventh.css">
    <link rel="stylesheet" href="css/eighth.css">
    <link rel="stylesheet" href="css/ninth.css">
    <link rel="stylesheet" href="css/tenth.css">

    <link rel="stylesheet" href="css/heroslider.css">
    <link rel="stylesheet" href="css/D-R-DCounts.css">
    <link rel="stylesheet" href="css/testimonials.css">
    <link rel="stylesheet" href="css/parallax.css">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- page loader undo the comment when finish -->
        <div class="loader_bg">
            <div class="load">
                <hr/><hr/><hr/><hr/>
            </div>
        </div>

        <div class="container">
            <div class="first">
                <div class="navbar-title">
                    <p>InNeed<span style="color: aqua;">.</span></p>
                </div>
                
                <div class="navbar-mobile">
                    <div class="wrapper-nav">
                        <nav>
                        <div class="navbar">
                            <i class="fa fa-align-right"></i>
                        </div>
                        <ul class="nav-links">
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">SCHEDULES</a></li>
                            <li><a href=""><i class="fa fa-dropbox" aria-hidden="true"></i> DONATE</a></li>
                            <li><a href="html/login.html"><i class="fa fa-handshake-o" aria-hidden="true"></i> JOIN US</a></li>
                            <li><a href=""><i class="fa fa-phone" aria-hidden="true"></i> CONTACT US</a></li>
                            <li>
                                <a href="#">&#169;2020 Food For Needy. All right reserved.</a>
                            </li>
                        </ul>
                        </nav>
                    </div> 
                </div>
            </div>
            
            <div class="second" id="second">
                <ul id="list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Schedules</a></li>
                    <li><a href="#">Join Us</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="third">
                <div class="image">
                    <div class="whoweare">
                        <p class="briefHead">
                        Who <span style="color: hsl(34, 100%, 60%);">We</span><br>
                        Are
                        </p>
                        <p class="brief">
                            InNeed is an online platform.<br>
                            That shares informations
                            i.e. what a user can donate or <br> get.                       <br>
                        </p>
                        <button>
                        <a href="#">More Info &nbsp; <i class="fa fa-arrow-right"></i></a>
                        </button>
                    </div>
                </div>               
            </div>

            <div class="fourth">
                <div class="ourStory">
                    <p class="storyHead">What We <span style="color: hsl(34, 100%, 60%);">Do</span></p>
                    <p class="story">
                        InNeed's primary goal is to provide such a platform to a user that provide schedule information & where they can donate and request.  
                    </p>
                    <button>
                        <a href="#">More Info &nbsp; <i class="fa fa-arrow-right"></i></a>
                    </button>
                </div>
                <div class="choice">
                    <div class="donor">
                        <i class="fa fa-dropbox fa-4x" id="iconpart"></i>
                        <p class="choicetitle">Make <span style="color: hsl(34, 100%, 60%);">Donation</span></p>
                        <p class="choicetext">
                            Are you an Organization  
                            with excess perishable food to donate? 
                        </p>
                    </div>
                    <div class="volunteer">
                        <i class="fa fa-vimeo fa-4x" id="iconpart"></i>
                        <p class="choicetitle">Become A <span style="color: hsl(34, 100%, 60%);">Volunteer</span></p>
                        <p class="choicetext">
                            Are you Person looking to rescue surplus food 
                            using our Site on your device?
                        </p>
                    </div>
                    <div class="distributor">
                        <i class="fa fa-users fa-4x" id="iconpart"></i>
                        <p class="choicetitle">Become A <span style="color: hsl(34, 100%, 60%);">Distributor</span></p>
                        <p class="choicetext">
                            Are you a Non-Profit Organization who could 
                            feed the hungry? 
                        </p>
                    </div>
                </div>
            </div>

            <div class="fifth">
                <div class="history-tl-container">
                    <ul class="tl">
                      <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                          3rd March 2015<br> 7:00 PM
                        </div>
                        <div class="item-title">Start from Shire</div>
                        <div class="item-detail">Don't forget the ring</div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                          19th March 2015<br> 3:00 PM
                        </div>
                        <div class="item-title">Kill some Orcs</div>
                        <div class="item-detail">Don't enter the caves!!</div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                          1st June 2015<br> 7:00 PM
                        </div>
                        <div class="item-title">Throw that goddamn ring in the lava</div>
                        <div class="item-detail">Also, throw that Gollum too</div>
                      </li>                  
                    </ul>  
                </div>
                <div class="schedule">
                    <p class="scheduletitle">Schedule</p>
                    <p class="scheduletext">Want to add your own Schedules?<br>So, 
                        people can know when & where <br>to join your program!!!<br>
                        click more info.
                    </p>
                    <button>
                        <a href="#">More Info &nbsp; <i class="fa fa-arrow-right"></i></a>
                    </button>
                </div>
            </div>

            <div class="sixth">
                <div class="aboutus">
                    <p class="abouthead">About <span style="color: hsl(34, 100%, 60%);">Us</span></p>
                    <p class="text">
                        InNeed came from an idea in 2019 Nepal 
                        from the students of KHEC, having the aim to 
                        prohibits food waste by supermarkets throwing 
                        away or destroying unsold food and requesting 
                        them instead to donate it to charities and food 
                        banks. 
                    </p>
                </div>
                <div class="aboutus2">
                    <p class="text">
                        InNeed is Nepal's first online food rescue platform  
                        which lets you to donate & distribute information to the users. 
                        This new platform takes a local approach, giving food donors 
                        a simple and fast system to connect directly with social 
                        service programs in local communities.<br>
                        <br>
                        Although we in our initial stage & there is still a 
                        long way to achieve our aim. So, InNeedy is ready 
                        and something big is coming!!.<br>
                        <br>
                        That's what InNeedy is all about.
                    </p>
                </div>
            </div>
            
            <div class="parallax1">
                   <p data-aos="zoom-in-down" data-aos-duration="2000" >
                       " <span class="parallax-text">THE BEST </span><br>
                       AMONG THOSE YOU ARE THOSE<br>
                       WHO BRING GREATEST BENEFITS<br>
                       TO MANY OTHERS. "
                    </p>
            </div>
            <div class="heroslider">
                <div class="herotitle">
                    <p>Food <br>Rescue <br><span style="color: hsl(34, 100%, 60%);">Hero</span></p>
                </div>
                <div class="carousel">
                    <div class="card-carousel">
                        <div class="my-card" id="1">111</div>
                        <div class="my-card" id="2">222</div>
                        <div class="my-card" id="3">333</div>
                        <div class="my-card" id="4">444</div>
                        <div class="my-card" id="5">555</div>
                        <div class="my-card" id="6">666</div>
                        <div class="my-card" id="7">777</div>
                        <div class="my-card" id="8">888</div>
                        <div class="my-card" id="9">999</div>
                    </div>
                </div>
                <div class="tojoin">
                    <p>Want to become a <span style="color: hsl(34, 100%, 60%);">Hero ?</span>
                        <br>
                        <button>
                            <a href="#">Join In &nbsp; <i class="fa fa-arrow-right"></i></a>
                        </button>
                    </p>
                </div>
            </div>

            <div class="D-R-D-Counts">
                <div class="FoodRescued" data-aos="fade-up" data-aos-duration="2000">
                    <p>Food Rescued</p>
                </div>
                <div class="NoOfUser" data-aos="fade-up" data-aos-duration="2000">
                    <p>No of Users</p>
                </div>
                <div class="MealServed" data-aos="fade-up" data-aos-duration="2000">   
                    <p>Meals Served</p>
                </div>
            </div>
            
            <div class="testimonial-container">
                <div class="dk-container">
                    <div class="cd-testimonials-wrapper cd-container">
                        <h2>Testimonials</h2>
                        <ul class="cd-testimonials">
                            <li>
                                <div class="testimonial-content">
                                    <p>If you can't feed a hundred people, then feed just one.</p>
                                    <div class="cd-author">
                                        <img src="files/mother.jpg" alt="Author image">
                                        <ul class="cd-author-info">
                                            <li><strong>Mother Teresa</strong><br><span>Source Google</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial-content">
                                    <p>What you do makes a difference, and you have to decide what kind of difference you want to make.</p>
                                    <div class="cd-author">
                                        <img src="files/jane.jpg" alt="Author image">
                                        <ul class="cd-author-info">
                                            <li><strong>Jane Goodall</strong><br><span>Source google</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial-content">
                                    <p>Sharing food with another human being is an intimate act that should not be indulged in lightly.</p>
                                    <div class="cd-author">
                                        <img src="files/fisher.jpg" alt="Author image">
                                        <ul class="cd-author-info">
                                            <li><strong>M.F.K.Fishers</strong><br><span>Source Google</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="seventh">
                <p>Our <span style="color: hsl(34, 100%, 60%);">Supporter</span></p>
                <div class="logo">
                    <div class="image1"></div>
                    <div class="image2"></div>
                    <div class="image3"></div>
                    <div class="image4"></div>
                    <div class="image5"></div>
                </div>
            </div>
            
            <div class="eighth">
                <div class="getintouch">
                    <p>Get in <br><span style="color: hsl(34, 100%, 60%);">Touch</span></p>
                </div>
                <div class="contactdetail">
                    <ul>
                        <li>Location : Bhaktapur - 10, Nepal</li>
                        <li>Vist Us At : <a href="#">*******@gmail.com</a></li>
                        <li>Contact No : 98********, 01-*******</li>
                        <li>Time : 24 hrs Service</li>
                        <br>
                        <li class="media" style="word-spacing: 1rem;">
                            <a href="#"><i class="fa fa-facebook fa-1x"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-1x"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-1x"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="contactform">
                    <form action="">
                        <input type="text" placeholder="Full Name">
                        <br>
                        <input type="email" placeholder="Email">
                        <br>
                        <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                        <br>
                        <button type="submit">
                            <a href="#">Send Message</a>
                        </button>
                    </form>
                </div>
            </div>

            <div class="ninth">
                
            </div>
           
        </div>

        <div class="tenth">
            <ul>
                <li><a href="#"><i class="fa fa-facebook fa-1x"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram fa-1x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-1x"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <p>Copyright &copy; 2020 All rights reserved by InNeed.</p>
        </div>
        
        <!-- the script below is for loading the at the beginning + navbar on scrolling -->
        <script>
            setTimeout(function(){
                $('.loader_bg').fadeToggle();
            }, 4000);

            
            window.addEventListener("scroll",function(){
                let menu = document.getElementById('second');
                if(window.pageYOffset>105){
                    menu.classList.add("cus-nav");
                }else{
                    menu.classList.remove("cus-nav");
                }
            });
        </script>
        
        <script src="js/mobileMenu.js"></script>
        <script src=" https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="js/slider.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.1/jquery.flexslider.min.js"></script>
        <script src="js/testimonials.js"></script>
    </body>
</html>