
.D-R-D-Counts{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    padding: 5vw;
    column-gap: 3rem;
    padding: 3rem;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    /* background: url('../files/data.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed; */
    color: hsl(34, 100%, 60%);
}